/**
  Global Website Footer
  ---------------------------------------------------------------------- */
#affiliates {
  @include grid(space-between, center);
  background-color: $white;
  padding: 3rem 7vw;

  h3 {
    font-size: 1rem;
    font-family: $font-default;
    color: $violet;
    @include fontItalic();
  }
}

.footer-affiliates{
  @include listStripped(inline-block);

  a {
    display: block;
  }

  li {
    margin-left: 4vw;
  }

  img {
    display: block;
    height: 3rem;
    width: auto;
  }
}

#footer {
  @include grid(space-between, stretch);
  background-color: $violet;
  color: $white;
  padding: 3rem 4vw;
  font-size: 0.75rem;

  a {
    color: $white;
  }

  .copyright {
    padding: 0;
  }
}

.footer-logo {
  display: block;
  height: 4rem !important;
  width: auto;
  margin: 0 auto 2rem auto;
}

.footer-heading {
  font-family: $font-default;
  @include fontBold(false);
  text-transform: uppercase;
  font-size: 1em;
  padding-right: 2em;
}

.footer-column {
  @include grid();

  &-logo {
    display: block;
  }

  nav {
    @include navMenu(vertical);

    ul li {
      line-height: 1;
      margin-bottom: 1em;
    }

    a {
      @include transition();

      &:hover {
        opacity: 0.666;
      }
    }
  }

  .nav-social {
    @include navMenu(horizontal);
    margin-top: auto;

    span {
      display: none;
    }

    a {
      padding: 1em;
    }

    img {
      height: 1.5em;
    }
  }
}

.footer-address {
  text-align: left;
  line-height: 2;
  margin-top: -0.5em;

  span {
    white-space: pre;
  }
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 1400px) {
  .footer-column {
    @include grid(flex-start, flex-start, column);

    .nav-social {
      margin: auto 0;
    }
  }

  .footer-heading {
    margin-bottom: 2em;
  }
}

@media (max-width: 1024px) {
  #affiliates {
    @include grid(center, center, column);
  }

  .footer-affiliates {
    margin-top: 0.5rem;

    li {
      margin: 1rem 2vw;
    }
  }

  #footer {
    @include grid(flex-start, center, row, wrap);
  }

  .footer-column {
    min-width: 50%;

    &-logo {
      width: 100%;
      order: 1;

      .copyright {
        display: none;
      }
    }

    &-contact {
      display: none;
    }

    &-social {
      width: 100%;
      order: 3;
      margin-bottom: 3em;

      .nav-social {
        margin: 0 auto;
      }
    }

    &-services {
      order: 4;
    }

    &-info {
      order: 5;
    }

    &-services,
    &-info {
      @include grid(center, center, column);
      text-align: center;

      .footer-heading {
        padding: 0;
        opacity: 0.666;
      }
    }
  }
}

@media (max-width: 768px) {
  .footer-affiliates {
    @include grid(center, center, column);
  }
}

@media (max-width: 420px) {
  .footer-column {
    &-services,
    &-info {
      display: none;
    }
  }
}
