/**
  Responsive Navigation
  ---------------------------------------------------------------------- */
#responsive-nav-toggle {
  @include hamburgerMenu(12, $white, 0.4);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: -0.75em;
    left: -0.75em;
    width: 3em;
    height: 3em;
    display: block;
    border: 1px solid $white;
    border-radius: 4px;
    @include transition();
  }

  &.is-active {
    .line {
      background-color: $violet;
    }

    &::after {
      background-color: $white;
    }
  }
}

#responsive-nav {
  @include grid(space-between, flex-start, column);
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  width: 75vw;
  height: 100vh;
  padding: 2rem;
  background-color: $white;
  color: $violet;
  overflow: auto;
  @include navMenu(vertical);
  transform: translateX(100%);
  @include transition();

  a {
    display: block;
    padding: 0.5rem 0;
    color: $violet;
    @include fontItalic();
    opacity: 0.666;
  }

  .copyright {
    margin-top: auto;
    padding-top: 2rem;
  }

  .sub-menu {
    font-size: 0.85em;
    padding-left: 1rem;
    margin: 0.5rem;
    border-left: 1px dotted transparentize($orchid, 0.777);

    li:first-child a { padding-top: 0; }
    li:last-child a { padding-bottom: 0; }
  }
}

.responsive-logo {
  margin-bottom: 2rem;
  max-width: 300px;
}

.nav-active {
  #header {
    transform: translateX(-75vw);
  }

  #content,
  #affiliates,
  #footer {
    opacity: 0.333;
    @include transition();
  }

  #responsive-nav {
    transform: translateX(0);
  }
}
