/**
  Animation Settings
  ---------------------------------------------------------------------- */
.animate-on-enter,
.animate-on-leave {
  opacity: 0;

  @include transition(all 600ms ease-in-out);

  &.is-visible {
    opacity: 1;
  }
}

/**
  Parallax Animation
  ---------------------------------------------------------------------- */
.animate-parallax {
  overflow: hidden;
  position: relative;

  .module-bg {
    position: absolute;
    z-index: 0;
    background-size: cover;
    background-position: center center;
    width: 100%;
    top: 0;
    left: 0;

    img {
      display: none;
    }
  }
}

.animate-z-subtle .module-bg {
  height: calc(100% + 8rem);
}

.animate-z-normal .module-bg {
  height: calc(100% + 16rem);
}

.animate-z-extreme .module-bg {
  height: calc(100% + 24rem);
}
