$white: #fff;
$tan: #E8E8C6;
$green: #6EACA1;
$red: #bb2d2d;
$orchid: #7E497F;
$violet: #362E5D;
$violet-trans: transparentize($violet, 0.4);
$grey: #95989A;
$grey-pale: #F4F4F4;
$grey-light: #F7F7F7;
$grey-dark: #4E4E4E;
$black: #101010;

$colorCodes: $white $tan $green $orchid $violet $grey $grey-light $grey-dark $black;
$colorNames: white tan green orchid violet grey grey-light grey-dark black;
