$white: #fff;
$tan: #E8E8C6;
$green: #6EABA2;
$red: #ed222c;
$orchid: #7E497F;
$orchid-vibrant: #7C2E71;
$violet: #352D5C;
$violet-trans: transparentize($violet, 0.4);
$grey: #6C6C6C;
$grey-pale: #F4F4F4;
$grey-light: #d5d5d5;
$grey-dark: #707070;
$black: #6C6C6C;
$blue: #3898bc;
$pink: #eb6f76;

$colorCodes: $white $tan $green $orchid $violet $grey $grey-light $grey-dark $black;
$colorNames: white tan green orchid violet grey grey-light grey-dark black;
