a.cta-button {
  @include grid(center, center);
  font-size: 1rem;
  color: $white;
  padding: 0.5em 1em 0.5em 1.5em;
  height: $fh-input-height;
  border-width: 1px;
  border-style: solid;
  margin-top: 2em;
  border-radius: 2px;
  @include transition();

  &::after {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    @include icon(arrow-white);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 0.666em;
    @include transition();
  }
}

.cta-arrow {
  &-down::after { transform: rotate(90deg); }
  &-left::after { transform: rotate(180deg); }
  &-up::after { transform: rotate(-90deg); }
}

@each $ctaColor in $colorCodes {
  $i: index($colorCodes, $ctaColor);
  a.cta-color-#{nth($colorNames, $i)} {
    @if nth($colorNames, $i) == white {
      background-color: transparent;
      border-color: $white;
    } @else {
      background-color: $ctaColor;
      border-color: $ctaColor;
    }

    &:hover {
      @if nth($colorNames, $i) == white {
        background-color: transparentize($white, 0.87);
      } @else {
        background-color: darken($ctaColor, 13%);
        border-color: darken($ctaColor, 13%);
      }
    }
  }
}
