#hero-slider {
  @include listStripped();
}

.hero-wrap {
  background-color: $white;
  position: relative;
}

.hero-content {
  @include grid(center, flex-start, column);
  padding: 9rem 3rem 2rem 3rem;
  position: relative;
  z-index: 1;

  img {
    display: block;
    max-width: 50%;
    height: 12rem;
  }
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 768px) {
  .hero-content img {
    max-width: 100%;
  }
}
