#hero-slider {
  @include listStripped();

  .slick-dots {
    right: 7vw;
    bottom: 2rem;

    button {
      border-color: $violet;
    }

    .slick-active button {
      background-color: $violet;
    }
  }

  .module-bg {
    opacity: 1;

    &.not-loaded {
      opacity: 0 !important;
    }
  }
}

.hero-wrap {
  background-color: $white;
  position: relative;
}

.hero-content {
  @include grid(center, flex-start, column);
  padding: 9rem 3rem 2rem 3rem;
  position: relative;
  z-index: 1;

  img {
    display: block;
    max-width: 50%;
    height: 12rem;
  }
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 768px) {
  .hero-content {
    padding: 4rem 1rem 4.5rem 1rem;

    img {
      max-width: 100%;
    }
  }

  .hero-content,
  .hero-wrap {
    min-height: 56.25vw !important;
  }
}
