.post-type-archive-resource {
  .module-general {
    @include grid(center, center, column);
    color: $violet;

    p,
    ul,
    h1,
    h2,
    h3 {
      width: 100%;
    }

    margin-bottom: 7vw;
  }
}

.module-resources_heading {
  @extend %headingInterior;
}

.module-resources {
  padding: 4vw 7vw;
}

.resource-disclaimer {
  @include fontItalic();
  text-align: center;
}

.resources-list ul {
  @include listStripped();
  @include grid(space-around, flex-start, row, wrap);

  li.resource {
    position: relative;
    text-align: center;
    width: 30%;
    margin-bottom: 3rem;
    height: 15vw;
    background-size: cover;
    background-position: center center;

    h2 {
      margin: 0;
      font-size: 1.25em;
      padding: 0.25em 1em;
      font-family: $font-default;
      color: $violet;
      position: absolute;
      left: 0;
      bottom: 1em;
      width: auto;
      background-color: transparentize($white, 0.3);
      white-space: nowrap;
      @include transition(all 500ms ease-in-out);
    }

    img {
      display: none;
    }

    a {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;

      &:hover h2 {
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, 50%);
      }
    }
  }
}

#resources-contact {
  &.is-active {
    &::after {
      transform: rotate(-90deg);
    }
  }
}

#resources-contact-info {
  margin-top: 2rem;
  position: absolute;
  opacity: 0;
  z-index: -1;
  color: $violet;

  &.is-active {
    position: relative;
    opacity: 1;
    z-index: 1;
    @include transition(all 500ms ease-in-out);
  }

  a {
    color: $violet;

    &:hover {
      color: $orchid;
    }
  }

  nav {
    @include navMenu(vertical);
    text-align: center;
    margin-bottom: 3rem;

    ul li {
      margin-bottom: 1rem;
    }

    .name {
      display: block;
      @include fontBold();
    }
  }

  .nav-social ul {
    margin-top: 3rem;
    @include grid(center, center);

    span {
      display: none;
    }

    a {
      @include grid(center, center);
      background-color: $orchid;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 100%;
      margin: 0.5rem;

      &:hover {
        background-color: $violet;
      }
    }
  }
}

.resource-subhead {
  border-top: 1px solid $green;
  padding-top: 2rem;
  margin-top: 2rem;
  text-align: center;
}

.resource-reference {
  @include grid(center, center, row, wrap);

  .cta-button {
    position: relative;
    margin: 1em;
    padding-bottom: 1.25rem;
    height: 4rem;
  }

  .details {
    font-size: 0.75em;
    display: block;
    position: absolute;
    left: 1.5rem;
    bottom: 0.75rem;
    @include fontItalic();
    opacity: 0.333;
  }
}

.resource-subtopics {
  @include grid(center, center, row, wrap);

  .cta-button {
    margin: 1em;
  }
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 1400px) {
  .module-resources {
    padding: 3rem;
  }
}

@media (max-width: 1200px) {
  .resources-list ul li.resource {
    height: 20vw;
  }
}

@media (max-width: 1024px) {
  .module-resources {
    padding: 2rem;
  }

  .resources-list ul li.resource {
    width: calc(50% - 1.5rem);
    height: 30vw;
  }
}

@media (max-width: 768px) {
  .resources-list ul li.resource {
    width: 100%;
    height: 56.25vw;
  }
}
