.resource-disclaimer {
  @include fontItalic();
  text-align: center;
}

.resources-list {
  @include listStripped();
  @include grid(center, flex-start, row, wrap);
  margin-top: 2rem;
}

li.resource {
  display: block;
  text-align: center;
  width: 50%;
  margin-bottom: 3rem;

  h2 {
    margin-bottom: 0;
    font-size: 1.666em;
  }
}

.resource-child {
  display: inline-block;
  margin: 1em;
  color: $green;
  @include transition();
}

.resource-subhead {
  border-top: 1px solid $green;
  padding-top: 2rem;
  margin-top: 2rem;
  text-align: center;
}

.resource-reference {
  @include grid(center, center, row, wrap);

  .cta-button {
    position: relative;
    margin: 1em;
    padding-bottom: 1.25rem;
    height: 4rem;
  }

  .details {
    font-size: 0.75em;
    display: block;
    position: absolute;
    left: 1.5rem;
    bottom: 0.75rem;
    @include fontItalic();
    opacity: 0.333;
  }
}

.resource-subtopics {
  @include grid(center, center, row, wrap);

  .cta-button {
    margin: 1em;
  }
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 1024px) {
  li.resource {
    width: 100%;
  }
}
