.customer_login {
  @include grid(center, center);
  max-width: 1024px;
  padding: 2rem;
}

.woocommerce-account .woocommerce {
  @include grid(flex-start, flex-start, row, wrap);
}

.woocommerce-MyAccount-navigation {
  @include navMenu(vertical);
  padding: 0.5rem 1rem;
  border: 1px solid $grey;
  margin: 2rem;
  min-width: 17vw;
  @extend %wcCheckboxes;
}

.woocommerce-MyAccount-content {
  width: calc(80vw - 8rem);
  margin: 2rem;

  .woocommerce-Button {
    margin: 0 0 1rem 0;
  }

  .addresses > div {
    width: 50%;
  }

  .edit {
    display: block;
    color: $green;
    margin-bottom: 1em;
    @include fontItalic();
  }

  address {
    @include fontItalic(false);
    margin-bottom: 2rem;
  }
}

.woocommerce-address-fields__field-wrapper {
  @include grid(flex-start, flex-end, row, wrap);

  .form-row {
    width: 33.333%;
  }
}

.woocommerce-EditAccountForm {
  @include grid(flex-start, flex-start, row, wrap);

  .form-row {
    width: 50%;
  }

  fieldset {
    display: block;
    width: 100%;
    margin-top: 2rem;

    legend {
      @extend h3;
    }

    .form-row {
      display: inline-block;
      width: 33%;
    }
  }
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 1200px) {
  .woocommerce-MyAccount-navigation {
    min-width: 25%;
  }

  .woocommerce-MyAccount-content {
    width: calc(72vw - 8rem);
  }
}

@media (max-width: 960px) {
  .woocommerce-account .woocommerce {
    @include grid(center, center, column-reverse);
    padding-bottom: 3rem;
  }

  .woocommerce-MyAccount-content,
  .woocommerce-MyAccount-navigation {
    margin: 0;
    min-width: auto;
  }

  .woocommerce-MyAccount-content {
    padding: 2rem 2rem 0 2rem;
  }

  .woocommerce-MyAccount-navigation {
    width: calc(100% - 4rem);
  }

  .woocommerce-MyAccount-content {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .woocommerce-address-fields__field-wrapper,
  .woocommerce-EditAccountForm,
  .woocommerce-EditAccountForm fieldset {
    .form-row {
      width: 100%;
    }
  }
}
