.module-checkout {
  @include clearfix();
  margin: 0 auto 7vw auto;
  max-width: 1200px;
  width: 100%;
  padding: 1rem;
}

.checkout-section {
  display: none;
  float: left;
  width: 100%;

  &.is-active {
    display: block;
  }
}

form.woocommerce-checkout {
  float: left;
  width: 66.666%;
}

.checkout-sidebar {
  float: right;
  width: 33.333%;
  padding-left: 1rem;
}

.woocommerce-billing-fields h3 {
  display: none;
}

.woocommerce-billing-fields__field-wrapper,
.woocommerce-shipping-fields__field-wrapper {
  @include grid(flex-start, flex-end, row, wrap);

  .form-row {
    width: 50%;
    padding-bottom: 0;
  }
}

#order_review {
  table {
    border: none;

    tbody,
    thead,
    .cart-subtotal,
    .order-total,
    th {
      display: none;
    }

    tr,
    td {
      border: none;
    }
  }
}

#shipping_method {
  @include listStripped();
  @include grid(center, center);

  li {
    padding: 0.25rem 1rem;
    margin: 1rem;
    border: 1px solid $grey;
  }

  label {
    display: block;
    position: relative;
    padding: 0.15em 0.5em 0.15em 1.75em;
    @extend %wcCheckboxEmpty;
  }

  input {
    display: none;
  }

  input:checked + label {
    @extend %wcCheckboxActive;
  }
}

#ship-to-different-address {
  @include grid(center, center);
  font-size: 1em;
  font-family: $font-default;

  label {
    display: block;
    position: relative;
    padding: 0.15em 0 0.15em 1.75em;
    @extend %wcCheckboxEmpty;
  }

  input {
    display: none;
  }

  input:checked + label {
    @extend %wcCheckboxActive;
  }
}

.checkout-shipping-heading {
  text-align: center;
  margin-top: 3rem;
}

.checkout-section-nav {
  @include grid(center, center);
}

// Unhide to test Engraving Notes
#order_comments_field {
  display: none;
}

.checkout-steps {
  @include grid(space-between);
  margin: 3rem 0;
  float: left;
  width: 66.666%;
}

.checkout-step {
  display: block;
  position: relative;
  padding-top: 5rem;
  text-align: center;
  flex: 1 1 0;
  color: $grey-dark;
  @include fontBold();
  font-size: 0.85rem;
  text-transform: uppercase;

  &::before,
  &::after {
    content: '';
    position: absolute;
    display: block;
    left: calc(50% - 0.375rem);
  }

  &::before {
    top: calc(50% - 0.75rem);
    left: calc(50% - 0.75rem);
    z-index: 2;
    width: 1.5rem;
    height: 1.5rem;
    background-color: $violet;
    border-radius: 50%;
    border: 0.5rem solid $white;
    @include transition();
  }

  &::after {
    top: calc(50% - 1px);
    left: 50%;
    z-index: 1;
    height: 2px;
    width: 100%;
    background-color: $tan;
    @include transition();
  }

  &:last-child::after {
    display: none;
  }

  &.is-active {
    color: $orchid;

    &::before {
      border: 1.25rem solid $grey-pale;
      width: 3rem;
      height: 3rem;
      top: calc(50% - 1.5rem);
      left: calc(50% - 1.5rem);
    }
  }
}

.checkout_coupon {
  margin: 3rem 0;
  padding: 0.5rem 1rem;
  border: 1px solid $grey;
  @include grid();
  display: flex !important;

  .cta-button {
    margin-top: 0.666em;
  }
}

.checkout-lineitems {
  @include listStripped();
  padding: 0 1rem 1rem 1rem;
  border: 1px solid $grey;

  .checkout-product {
    @include grid(flex-start, center);
    padding: 1rem 0;
    border-bottom: 1px solid $grey;

    img {
      display: block;
      height: 4rem;
      width: auto;
      margin-right: 1rem;
    }

    p {
      padding: 0;
    }

    h3 {
      color: $violet;
      margin: 0;
      font-family: $font-default;
      font-size: 1.15em;
      @include fontBold();
    }
  }
}

li.checkout-editcart {
  display: block;
  padding: 1em;
  text-align: center;
  border-bottom: 1px solid $grey;
  margin-bottom: 1rem;
}

li.checkout-total {
  @include grid(space-between);
  padding: 0.25em 1em;

  h3 {
    font-size: 1rem;
    font-family: $font-default;
    @include fontBold();
  }
}

#place_order {
  display: none;
}

.checkout-section-nav-button {
  margin: 1rem;
}

#checkout-info {
  p.form-row.create-account {
    display: none !important;
  }

  .create-account {

    &.is-active {
      display: block !important;
    }
  }

  #billing_email_field {
    width: 100%;
  }
}

#checkout-login {
  text-align: center;
  width: 66.666%;

  a {
    @include fontItalic();
    display: block;
    margin: 1rem;
  }

  nav {
    @include grid(center);
    margin-top: 2rem;
  }

  input {
    max-width: 50%;
    margin: 0.25em auto;
  }

  .woocommerce-form-login {
    display: block !important;

    .woocommerce-form-login__rememberme {
      display: none;
    }

    .woocommerce-form-login__submit {
      margin: 0 auto;
      background-color: $violet;

      &:hover {
        background-color: darken($violet, 13%);
      }
    }
  }

  .lost_password {
    display: none;
  }
}

@media (max-width: 768px) {
  .checkout-sidebar,
  .checkout-steps,
  form.woocommerce-checkout,
  #checkout-login {
    width: 100%;
    float: none;
  }

  .checkout-section {
    padding: 1rem;
  }

  .woocommerce-billing-fields__field-wrapper .form-row,
  .woocommerce-shipping-fields__field-wrapper .form-row {
    width: 100%;
  }

  .checkout-section-nav {
    @include grid(center, center, column-reverse);
  }

  #shipping_method {
    @include grid(center, center, column);
  }
}
