.woocommerce {
  @include clearfix();

  .u-columns {
    @include grid();
  }

  .form-row {
    padding: 1rem;
    line-height: 1;

    label {
      margin: 0;
      color: $grey-dark;
      @include fontItalic();
      font-size: 0.75em;
    }

    input {
      margin-top: 0.25em;
    }

    em {
      font-size: 0.85rem;
      opacity: 0.333;
      line-height: 1;
    }
  }
}

.woocommerce-message {
  border: 1px solid $grey;
  background-color: transparentize($grey, 0.777);
  border-radius: 2px;
  padding: 1.5rem 2rem;
  margin-bottom: 2rem;
  @include fontItalic();
}

.module-product_headings {
  padding: 4vw;

  h1 {
    position: relative;
    z-index: 1;
    margin-bottom: 0;
  }
}

a.woocommerce-Button {
  @extend a.cta-button;
  max-width: 16rem;
}


/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media(max-width: 768px) {
  .woocommerce {
    .form-row {
      padding: 0.5rem 0;
    }
  }
}
