body.single-product {
  #primary {
    width: 100%;
    padding: 4vw;
  }
}

.product-single-top {
  @include grid(center, stretch);
  @include clearfix();
  padding-bottom: 2vw;
  color: $black;

  &-left,
  &-right {
    width: 50%;
  }

  &-right {
    padding-left: 2rem;
  }

  .price {
    display: block;
    color: $green;
    @include fontItalic();
    @include fontBold();
    font-size: 1.25em;
    margin-bottom: 2rem;
  }

  button {
    background-color: $orchid;

    &:hover {
      background-color: $violet;
    }
  }

  .variations {
    display: inline-block;
    border: none;

    tbody {
      @include grid(flex-start, flex-start, row, wrap);
    }

    tr {
      display: block;
      margin-right: 1rem;
    }

    td {
      display: block;
      border: none;
      padding: 0;
    }
  }

  .wcpa_form_item {
    @include grid(flex-end, center, row-reverse);
    margin: 0;

    label {
      white-space: nowrap;
      padding: 0 0 0 1em;
      color: $violet-trans;
      font-size: 0.75em;
      @include fontItalic();
    }

    input {
      margin: 0;
      border-top: none !important;
      border-bottom: none !important;
      max-width: 400px;
    }

    &:first-child input {
      border-top: 1px solid $grey-light !important;
    }

    &:last-child input {
      border-bottom: 1px solid $grey-light !important;
    }
  }

  #photo-engrave-line-1 {
    border-top: 1px solid $grey-light !important;
  }

  .variation-modal-wrap {
    @include grid(center, center, row, wrap);

    h2 {
      width: 100%;
    }
  }

  .variation-modal-img {
    width: 50%;
    padding-right: 2rem;
  }

  .variation-modal-data{
    width: 50%;
    padding-left: 2rem;
  }

  .single_variation_wrap {
    float: right;
    width: 50%;
    padding-left: 2rem;
  }

  .wcpa_form_outer {
    margin-top: 0;
  }

  #photo-engrave {
    @include grid(center, center);
    float: left;
    position: relative;
    width: 50%;
    min-height: 4rem;
    color: $grey;
    text-align: center;
    @include icon('ajax-upload');
    background-size: auto 50%;
    background-position: center center;
    background-repeat: no-repeat;
    border: 2px dashed $grey;
    border-radius: 1rem;
    margin-bottom: 2rem;

    span {
      display: none;
    }

    &.not-active {
      background-image: none;

      span {
        display: block;
      }
    }

    &.is-active {
      border: none;
      border-radius: 0;
    }

    &.is-error {
      border-color: $red;

      span {
        color: $red;
      }
    }
  }

  #photo-upload {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
  }

  #photo-engrave-upload,
  label[for="photo-engrave-upload"] {
    display: none;
  }

  #photo-engrave-name {
    border-top: 1px solid $grey !important;
    margin-top: 1rem;
  }

  label[for="photo-engrave-name"] {
    margin-top: 1.5rem;
  }
}

#product-single-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 1rem;

  img {
    visibility: hidden;
  }
}

#product-single-thumbs {
  @include listStripped();
  @include grid(center, center, row, wrap);

  li {
    max-width: 9rem;
    margin: 0.25rem;
    opacity: 0.5;
    cursor: hand;
    cursor: pointer;
    border: 1px solid $green;
    @include transition();

    &.is-active {
      opacity: 1;
    }

    &:hover {
      opacity: 1;
      transform: scale(1.05);
    }
  }

  img {
    display: block;
  }
}

#product-single-composite {
  max-width: 1024px;
  margin: 4vw auto;

  .composite_component {
    @include grid(flex-start, flex-start, column);

    & > * {
      width: 100%;
    }
  }

  .composite_form {
    box-shadow: 0 0.25rem 0.5rem transparentize($black, 0.84);
    padding-left: 0 !important;

    .step_title_wrapper,
    .composited_product_title {
      text-align: center;
      margin-bottom: 0;
    }

    .composited_product_title {
      font-family: $font-default;
    }
  }

  .composited_product_details_wrapper,
  .component_message {
    padding: 0 2vw;
  }

  .composited_product_details_wrapper {
    margin-top: 2rem;
  }

  .composite_navigation_inner {
    padding: 2vw;

    a {
      display: inline-block;
      font-size: 1.15rem;
      margin: 0;
      color: $orchid;
      border: 1px solid $orchid;

      &.next { padding: 1rem 2.5rem 1rem 1.5rem; }
      &.prev { padding: 1rem 1.5rem 1rem 2.5rem; }

      &::after {
        right: 1rem;
      }

      &::before {
        left: 1rem;
      }

      &.inactive {
        opacity: 0.3;
        cursor: not-allowed;
      }
    }
  }

  .component_message,
  .validation_message  {
    text-align: right;
    color: $orchid;
    @include fontItalic();
    font-size: 0.85em;
    margin-top: 3rem;
  }

  .woocommerce-variation-description,
  .reset_variations_wrapper,
  .selected_option_label_wrapper,
  .clear_component_options {
    display: none !important;
  }

  label {
    color: $violet;
    margin-bottom: 0;
  }

  abbr {
    text-decoration: none;
    color: $orchid;
  }

  .images {
    width: 37.5% !important;
  }

  .details {
    width: 62.5% !important;
  }

  .component_section_title {
    display: none;
  }

  .component_content {
    .component_section_title {
      display: block;
    }
  }

  .component_options {
    display: none;
  }


  .summary_element_button,
  .woocommerce-variation-price {
    display: none;
  }

  .composite_data.last {
    width: calc(100% - 4vw);
    margin: 2vw;

    .composite_navigation.bottom {
      display: none;
    }

    .composite_summary {
      border-bottom: 1px solid $grey-light;
    }

    .summary_element_content {
      padding-top: 2rem;
      font-family: $font-default;
    }

    .content_product_title {
      @include fontBold();

      .content_product_meta {
        @include fontBold(false);
      }
    }

    .composite_price {
      @include fontBold();
      font-size: 1.5em;
      text-align: right;
      padding-top: 2vw 0 0 0;

      p {
        color: $orchid;
        padding: 0;
      }
    }

    .composite_button {
      @include grid(flex-start, flex-end, column);
      text-align: right;
      padding-bottom: 2vw;
    }

    .button {
      font-size: 1.15em;
      background-color: $orchid;

      &:hover,
      &:active,
      &:focus {
        background-color: $violet;
      }
    }

    .page_button.prev {
      display: none;
    }

    .summary_custom_populate {
      &.is-inactive {
        display: none;
      }
    }
  }
}

.product-composite-nothanks {
  display: block;
  position: relative;
  text-align: right;
  color: $violet;
  float: right;
  order: 1;
  padding: 0 calc(2vw + 1rem) 2vw 0;
  cursor: hand;
  cursor: pointer;
  @include fontBold();

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0.15em;
    right: 2vw;
    width: 0.75em;
    height: 0.75em;
    @include icon(arrow-purple);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    transform: rotate(-90deg);
  }

  &.is-spent {
    display: none;
  }
}

.product-single-more {
  @include grid(space-between, flex-start, row, wrap);

  h1 {
    width: 100%;
    text-align: center;
    padding: 1em 0;
    border-top: 1px solid $grey-dark;
  }

  &-content {
    padding-right: 4vw;
    width: 70%;
    color: $violet;
  }

  &-image-heading {
    display: block;
    width: 100%;
    margin-bottom: 4vw;
  }

  &-image-side {
    display: block;
    width: 30%;
  }
}

.product-single-more-content-full {
  max-width: 1024px;
  margin: 0 auto;
}

.product-single-related {
  margin-top: 4vw;

  h2 {
    width: 100%;
    border-top: 1px solid $grey-dark;
    text-align: center;
    padding: 1em 0;
    text-transform: capitalize;
  }

  .products {
    width: 100%;

    .product {
      width: calc(25% - 2rem);
    }
  }

  .price {
    @include fontBold();
  }
}

#funnel-weight-recommend-toggle {
  padding: 1rem;
  display: block;
}

#funnel-weight-recommend-table {
  display: none;
  margin-top: 1rem;

  tr:last-child p {
    padding-bottom: 0;
    font-size: 0.85em;
    color: $orchid;
    @include fontItalic();
  }
}

#funnel-weight-recommend-text {
  display: block;
  font-size: 1.15em;
  color: $orchid;
  margin-bottom: 1rem;
}

#funnel-weight-recommend-value,
#funnel-weight-recommend-value:empty + #funnel-weight-recommend-text {
  display: none;
}

@media (max-width: 768px) {
  .product-single-top {
    display: block;

    &-left,
    &-right {
      width: 100%;
      padding: 2vw 0 0 0;
    }
  }
}

@media (max-width: 650px) {
  #product-customize {
    display: none;
  }

  .product-single-top {
    #photo-engrave,
    .single_variation_wrap {
      float: none;
      width: 100%;
      padding: 0;
    }
  }

  #product-single-composite {
    .composite_form {
      .step_title_wrapper,
      .composited_product_title {
        font-size: 1.75em;
      }
    }
    .composite_navigation.top {
      display: none;
    }

    .composited_product_details_wrapper {
      @include grid(center, center, column);

      .images,
      .details {
        width: 100% !important;
        padding: 0;

        table {
          font-size: 0.75em;
        }
      }
    }

    .composite_navigation_inner {
      @include grid(center, center, column-reverse);

      a {
        display: block;
        max-width: 100%;
        margin: 2rem 0;

        &.prev {
          font-size: 1rem;
          border: none;
          padding: 0 0 0 2rem;
        }
      }
    }
  }

  #product-single-thumbs li {
    width: calc(20% - 0.5rem);
  }

  .product-single-more-content,
  .product-single-more-image-side {
    width: 100%;
    padding: 0;
  }

  .product-single-related .products .product {
    width: calc(50% - 1rem);
  }
}
