.products {
  @include listStripped();
  @include grid(space-between, flex-start, row, wrap);

  li {
    width: calc(33.333% - 1rem);
    text-align: center;
    margin-bottom: 2rem;

    h2 {
      font-size: 1.5rem;
      padding-top: 1em;
      @include fontBold();
      color: $green;

      mark {
        display: none;
      }

      &.shop-product-cat {
        font-family: $font-default;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 0.1ex;
      }
    }

    h3 {
      font-size: 1rem;
      font-family: $font-default;
      @include fontBold();
      margin-top: 1em;
    }

    &.product-heading {
      @extend h2;
      width: 100%;
      color: $orchid;
      text-align: left;
      border-bottom: 1px solid $grey-dark;
      padding-bottom: 1em;
      margin-bottom: 1em;
    }
  }

  .add_to_cart_button {
    display: none;
  }
}

.shop-thumb {
  padding-top: 100%;
  background-color: $grey-pale;
  background-position: center center;
  background-size: cover;

  img {
    display: none;
  }
}

.shop-cta {
  margin: 1em auto;
  background-color: $orchid;

  &:hover {
    background-color: $violet;
  }
}

#shop-gallery {
  .slick-arrow {
    display: block;
    position: absolute;
    top: calc(50% - 1.5rem);
    height: 3rem;
    width: 3rem;
    font-size: 0px;
    z-index: 1;
    background-color: $violet-trans;

    &.slick-next {
      right: 0;
    }

    &:focus,
    &:active {
      border: none;
    }
  }

  .slick-slide {
    z-index: 0;
  }
}

.shop-gallery-slide {
  position: relative;
  height: 0px;
  padding-top: 43.75%;
  background-size: cover;
  background-position: center center;

  h1 {
    position: absolute;
    top: 4vw;
    left: 2vw;
    font-size: 3.5vw;
    font-family: $font-default;
    text-transform: uppercase;
    color: $orchid;
    letter-spacing: 0.1ex;

    span {
      text-transform: none;
      display: block;
      color: $orchid-vibrant;
      font-family: $font-heading;
      font-size: 2em;
      letter-spacing: 0;
    }
  }

  a {
    position: absolute;
    bottom: 2vw;
    right: 2vw;
    display: block;
    line-height: 3em;
    padding: 0 1.5em;
  }
}

.woocommerce-result-count {
  display: none;
}

.woocommerce-ordering {
  display: none;
}

.nav-pagination,
.woocommerce-pagination {
  @include navMenu(horizontal);

  a,
  span {
    display: block;
    padding: 0.25rem;
    width: 2rem;
    border: 1px solid $grey-light;
    text-align: center;
    color: $green;
    @include transition();

    &:hover {
      background-color: $grey-light;
      color: $violet;
    }
  }

  span {
    color: $grey;
  }
}

.woocommerce-pagination {
  @include grid(center, center);
  margin-top: 3vw;
}

.woocommerce-loop-product__link {
  display: block;
}

.component_table_item {
  padding-top: 1rem;

  .product-quantity,
  .product-subtotal,
  .product-price {
    display: none;
  }
}


/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media(max-width: 960px) {
  .products {
    @include grid(space-evenly, flex-start, row, wrap);

    li.product {
      width: calc(50% - 1rem);
      margin: 1rem 0;

      .woocommerce-loop-product__title {
        font-size: 0.85em;
      }
    }
  }

  .nav-pagination a, .nav-pagination span, .woocommerce-pagination a, .woocommerce-pagination span {
    width: 1.75rem;
    font-size: 0.75rem;
  }
}

@media (max-width: 768px) {
  #shop-gallery .slick-arrow,
  .products li.product-heading {
    display: none !important;
  }

  .products li h2.shop-product-cat,
  .products li li.shop-product-cat.product-heading {
    font-size: 0.75em;
  }
}
