
.products {
  @include listStripped();
  @include grid(space-evenly, flex-end, row, wrap);

  li.product {
    width: calc(25% - 1rem);
    margin-bottom: 1rem;

    img {
      display: block;
      width: 100%;
    }

    .button {
      display: none;
    }

    .woocommerce-loop-product__title {
      font-size: 1rem;
      font-family: $font-default;
      @include fontBold();
      margin-bottom: 0;
      text-align: center;
    }

    .woocommerce-Price-amount {
      font-size: 0.85rem;
      color: $orchid;
    }
  }

  li.none {
    padding: 2rem;
  }

  li.product-category {
    width: calc(33.333% - 1rem);
    transition: all .2s ease-in-out;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.12);

    &:hover {
      transform: scale(1.025);
    }

    h2.woocommerce-loop-category__title {
      font-size: 1.5em;
      text-align: center;
      padding-top: .5em;

      mark {
        display: none;
      }
    }
  }

}

.woocommerce-result-count {
  display: none;
}

.woocommerce-ordering {
  @include grid(space-between, center);
  background-color: $grey-pale;
  padding: 0.5rem 1rem;
  @include fontItalic();

  select {
    width: auto;
    padding-right: 2.5em;
    margin-left: auto;
  }

  p {
    padding: 0 0 0 0.5rem;
    @include fontItalic();

    strong {
      display: none;
    }
  }

  .nav-pagination {
    margin-left: 0.5rem;

    a,
    span {
      width: 1.5em;
    }
  }
}

.nav-pagination,
.woocommerce-pagination {
  @include navMenu(horizontal);

  a,
  span {
    display: block;
    padding: 0.25rem;
    width: 2rem;
    border: 1px solid $grey-light;
    text-align: center;
    color: $green;
    @include transition();

    &:hover {
      background-color: $grey-light;
      color: $violet;
    }
  }

  span {
    color: $grey;
  }
}

.woocommerce-pagination {
  @include grid(center, center);
  margin-top: 3vw;
}

.woocommerce-loop-product__link {
  display: block;

  img {
    @include transition();
  }

  &:hover {
    background-color: transparentize($grey-pale, 0.75);

    img {
      opacity: 0.666;
    }
  }
}

.component_table_item {
  padding-top: 1rem;

  .product-quantity,
  .product-subtotal,
  .product-price {
    display: none;
  }
}


/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media(max-width: 960px) {
  .products {
    @include grid(space-evenly, flex-start, row, wrap);

    li.product {
      width: calc(50% - 1rem);
      margin: 1rem 0;

      .woocommerce-loop-product__title {
        font-size: 0.85em;
      }
    }
  }

  .woocommerce-ordering {
    @include grid(center, center, column);

    select {
      margin: 1em auto;
    }
  }

  .nav-pagination a, .nav-pagination span, .woocommerce-pagination a, .woocommerce-pagination span {
    width: 1.75rem;
    font-size: 0.75rem;
  }
}
