.products {
  @include listStripped();
  @include grid(space-between, flex-start, row, wrap);

  li {
    width: calc(33.333% - 1rem);
    margin: 0.5rem;
    text-align: center;
    margin-bottom: 2rem;
    @include transition(all 120ms ease);

    a {
      display: block;
    }

    &:last-child {
      margin-right: auto;
    }

    &:hover() {
      transform: scale(1.02);
    }

    h2 {
      font-size: 1.5rem;
      padding-top: 1em;
      @include fontBold();
      color: $green;

      mark {
        display: none;
      }

      &.shop-product-cat {
        font-family: $font-default;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 0.1ex;
      }
    }

    h3 {
      font-size: 1rem;
      font-family: $font-default;
      @include fontBold();
      margin-top: 1em;
    }

    &.product-heading {
      @extend h2;
      width: 100%;
      color: $orchid;
      text-align: left;
      border-bottom: 1px solid $grey-dark;
      padding-bottom: 1em;
      margin-bottom: 1em;

      &:hover {
        transform: none;
      }
    }
  }

  .add_to_cart_button {
    display: none;
  }
}

.shop-thumb {
  padding-top: 100%;
  background-color: $grey-pale;
  background-position: center center;
  background-size: cover;

  img {
    display: none;
  }
}

.shop-cta {
  margin: 1em auto;
  background-color: $orchid;

  &:hover {
    background-color: $violet;
  }
}

#shop-gallery {
  .slick-arrow {
    display: block;
    position: absolute;
    top: calc(50% - 1.5rem);
    height: 3rem;
    width: 3rem;
    font-size: 0px;
    z-index: 1;
    border:none;
    background-color: $violet-trans;

    &::after {
      content: '';
      display: block;
      width: 2rem;
      height: 2rem;
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      @include icon(arrow-white);
      background-position: contain;
      background-position: center center;
      background-repeat: no-repeat;
    }

    &.slick-prev{
      transform-origin: left;

      &::after {
        transform: rotate(180deg);
      }
    }

    &.slick-next {
      right: 0;
      transform-origin: right;
    }

    &:hover,
    &:focus,
    &:active {
      border: none;
      transform: scale(1.1);
    }
  }

  .slick-slide {
    z-index: 0;
  }
}

.shop-gallery-slide {
  position: relative;
  height: 0px;
  padding-top: 43.75%;
  background-size: cover;
  background-position: center center;

  h1 {
    position: absolute;
    top: 4vw;
    left: 2vw;
    font-size: 3.5vw;
    font-family: $font-default;
    text-transform: uppercase;
    color: $orchid;
    letter-spacing: 0.1ex;

    span {
      text-transform: none;
      display: block;
      color: $orchid-vibrant;
      font-family: $font-heading;
      font-size: 2em;
      letter-spacing: 0;
    }
  }

  a {
    position: absolute;
    bottom: 2vw;
    right: 2vw;
    display: block;
    line-height: 3em;
    padding: 0 1.5em;
  }
}

.woocommerce-result-count {
  display: none;
}

.woocommerce-ordering {
  display: none;
}

.nav-pagination,
.woocommerce-pagination {
  @include navMenu(horizontal);
  @include grid(center, center);

  a,
  span {
    display: block;
    width: 2rem;
    line-height: 1;
    text-align: center;
    color: $orchid;
    @include transition();

    &:hover {
      color: $violet;
    }
  }

  span {
    color: $violet;
  }

  .prev,
  .next {
    background-color: $orchid;
    color: $white;
    border-radius: 50%;
    font-size: 1.25rem;
    line-height: 1.75rem;
    width: 2rem;
    height: 2rem;
    margin: 0 0.5em;
    @include fontBold();

    &:hover,
    &:active,
    &:focus {
      color: $white;
      background-color: $violet;
    }
  }
}

.woocommerce-pagination {
  @include grid(center, center);
  margin: 4vw 0;
}

.woocommerce-loop-product__link {
  display: block;
}

.component_table_item {
  padding-top: 1rem;

  .product-quantity,
  .product-subtotal,
  .product-price {
    display: none;
  }
}


/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media(max-width: 960px) {
  .woocommerce.archive #content {
    #primary {
      padding: 0;
      width: 100%;
    }

    #sidebar {
      width: 100%;
      padding: 0;

      .widget-title {
        margin-top: 1rem;
      }
    }
  }

  .products {
    @include grid(space-evenly, flex-start, row, wrap);

    li.product {
      width: calc(50% - 1rem);
      margin: 1rem 0;

      .woocommerce-loop-product__title {
        font-size: 0.85em;
      }
    }
  }

  .nav-pagination a,
  .nav-pagination span,
  .woocommerce-pagination a,
  .woocommerce-pagination span {
    width: 1.75rem;
    font-size: 0.75rem;
  }
}

@media (max-width: 768px) {
  #shop-gallery .slick-arrow,
  .products li.product-heading {
    display: none !important;
  }

  .products li h2.shop-product-cat,
  .products li li.shop-product-cat.product-heading {
    font-size: 0.75em;
  }
}
