#sidebar {
  order: 1;
  width: 24%;
  padding: 4vw 2rem;
}

.widget {
  border: 1px solid $grey-light;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 3px;
}

.widget-title {
  font-size: 0.9rem;
  color: $orchid;
  margin-bottom: 1rem;
}

#pet-cta,
#pet-info {
  display: none;
  position: relative;

  &.is-active {
    display: block;
  }
}

#pet-info {
  position: relative;

  a {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    color: $green;
    @include fontItalic();

    &:hover {
      color: $black;
    }
  }
}

.pet-widget-name {
  font-size: 1.25em;
  @include fontBold();
  margin-bottom: 0.25em;
}

#pet-cta {
  .cta-button {
    margin-top: 0;
  }
}

.search-form-inline {
  @include grid();

  .search-submit {
    background-color: $violet;
    border-color: $violet;
    padding: 0 1rem;

    span {
      display: none;
    }

    &::before {
      content: '';
      display: block;
      height: 1rem;
      width: 1rem;
      @include icon(magnify-white);
      background-repeat: no-repeat;
      background-size: contain;
      @include transition();
    }

    &:hover {
      background-color: darken($violet, 13%);
      border-color: darken($violet, 13%);

      &::before {
        transform: scale(1.25);
      }
    }
  }

  button,
  input {
    margin-top: 0;
  }
}

.widget-cats {
  @include listStripped();
  @include fontBold();
  font-size: 1.25rem;

  li {
    margin: 0.5em 0;
    position: relative;

    a {
      color: $violet;
    }

    &.is-active {
      a {
        color: $orchid;
      }
    }

    &.is-parent span {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      cursor: hand;
      cursor: pointer;

      &::after {
        content: '+';
      }
    }

    &.is-toggled {
      span::after {
        content: '-';
      }

      & + .widget-cats-child {
        display: block;
      }
    }
  }
}

.widget-cats-child {
  @include listStripped();
  @include fontBold(false);
  font-size: 1rem;
  padding-left: 2em;
  display: none;

  li {
    margin: 0.5em 0;
  }
}

.widget-inner {
  display: block;
}

.widget-toggle {
  display: none;

  span {
    display: none;
  }

  &::after {
    content: '';
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background-size: auto 75%;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

#widget-search {
  .widget-toggle {
    &::after {
      @include icon(magnify-purple);
    }

    &.is-active::after {
      @include icon(close-purple);
    }
  }
}

#widget-cats {
  .widget-toggle {
    &::after {
      @include icon(list-purple);
    }

    &.is-active::after {
      @include icon(close-purple);
    }
  }
}


/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 1200px) {
  #sidebar {
    width: 27%;
  }
}

@media (max-width: 960px) {
  #sidebar {
    @include grid(space-between, center);
    position: fixed;
    z-index: 998;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $white;
    box-shadow: 0 0 0.5rem transparentize($violet, 0.75);
    padding: 0;

    .widget {
      padding: 1rem;
      border: none;
      margin: 0;
    }
  }

  .widget-inner {
    display: none;
    background-color: $white;

    &.is-active {
      display: block;
      padding: 1rem;
      box-shadow: 0 0 0.5rem transparentize($violet, 0.75);
    }
  }

  .widget-toggle {
    display: block;
  }

  #widget-search,
  #widget-cats {
    .widget-inner {
      position: absolute;
      bottom: 4rem;
      left: 0;
      width: 100%;
      max-height: calc(100vh - 10rem);
      overflow: auto;
    }
  }

  #widget-petinfo {
    position: relative;
    width: 66.666%;
    font-size: 0.85em;
    margin-right: auto;

    .widget-inner {
      display: block;

      h3 {
        display: none;
      }
    }

    a {
      font-size: 0;
      position: absolute;
      @include icon(pencil-purple);
      background-size: auto 50%;
      background-position: right center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;

      &.cta-button {
        position: relative;
        font-size: 0.85rem;
        background-image: none;
        padding: 0.75em;
      }
    }
  }
}
